.booklist {
  overflow-y: scroll;
  width: 90%;
  margin-left: 110px;
  margin-top: 30px;
  height: 500px;
}
.box-booklist {
  margin-top: -20px;
  margin-left: -32px;
}
.book-box {
  display: flex;
  align-items: center;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  padding-left: 30px;
  padding-bottom: 15px;
  padding-top: 10px;
  background-color: #fff;
}

.box-text p {
  color: #4386bf;
  font-weight: lighter;
}
.box-text strong {
  color: gray;
}
.box-text h3 {
  font-weight: bold;
}
.box-progress {
  padding-left: 60%;
}

.box-remove {
  display: flex;
}

.box-remove p {
  padding-right: 10px;
}

.box-remove p:hover {
  color: rgb(102, 224, 102);
  transform: scale(1.1);
  transition: all 0.2s;
}

/* width */
.booklist::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.booklist::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.booklist::-webkit-scrollbar-thumb {
  background: rgb(189, 186, 186);
}

/* Handle on hover */
.booklist::-webkit-scrollbar-thumb:hover {
  background: rgb(145, 143, 143);
}
